<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link 
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" 
        rel="stylesheet"
    />
    <script 
        defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" 
        integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" 
        crossorigin="anonymous">
    </script>
    <script src="main.js" defer></script>
    <title>gogosing</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-tshirt"></i>   <!-- i는 아이콘 줄임말. 아이콘태그-->
            <a href="">gogosing</a>
        </div>
        <ul class="navbar_menu">
            <!-- (li>a)*5 li안에 a태그가 5개 / 괄호는 그룹화 함 -->
            <li><a href="../../../shop_login/templates/shop_login/login.html">로그인</a></li>
            <li><a href="">회원가입</a></li>
            <li><a href="">장바구니</a></li>
            <li><a href="">주문조회</a></li>
            <li><a href="">마이페이지</a></li>
        </ul>
        <ul class="navbar_icons">
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
        </ul>
        <a href="javascript:;" class="navbar_toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</body>
</html>